.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
}
.header__logo{
  height: 38px;
  width: 38px;
}
.header__button{
  margin-left: 30px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: 0;
  border-radius: 3px;
  background-color: #2BE080;
  color: #000;
  transition: opacity 0.5s;
  cursor: pointer;
}
.header__button:hover{
  opacity: 0.65;
  transition: opacity 0.5s;
}
.header__link{
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
  transition: opacity 0.5s;
  cursor: pointer;
}
.header__link:hover{
  opacity: 0.65;
  transition: opacity 0.5s;
}
.header__navbar{
  width: 100%;
  margin: 0 0 0 44px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.header__navbar-item{
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.header__navbar-item_type_profile{
  margin-left: auto;
}
.header__navbar-item_type_profile a{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__navbar-link{
  color: #000;
  margin-right: 16px;
  text-decoration: none;
  transition: opacity 0.5s;
  cursor: pointer;
}
.header__navbar-link:hover{
  opacity: 0.65;
  transition: opacity 0.5s;
}
.header__navbar-link.active{
  font-weight: 500;
}
.header__menu-icon{
  height: 43px;
  width: 40px;
  background: url('../../images/menu_icon.svg');
  transition: opacity 0.5s;
  cursor: pointer;
}
.header__menu-icon:hover{
  opacity: 0.65;
  transition: opacity 0.5s;
}
.header__menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.header__menu-container{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
  background-color: #FFF;
  z-index: 3;
}
.header__menu-close{
  position: absolute;
  top: 22px;
  right: 22px;
  width: 32px;
  height: 32px;
  background: url('../../images/close_icon.svg');
  transition: opacity 0.5s;
  cursor: pointer;
}
.header__menu-close:hover{
  opacity: 0.65;
  transition: opacity 0.5s;
}
.header__menu-items{
  margin: 159px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.header__menu-item{
  margin: 0 0 28px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.header__menu-item a{
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
  cursor: pointer;
}
.header__menu-item a:hover{
  opacity: 0.65;
  transition: opacity 0.5s;
}
.header__profile-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 92px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
  cursor: pointer;
}
.header__profile-link:hover{
  opacity: 0.65;
  transition: opacity 0.5s;
}
.header__profile-icon{
  width: 26px;
  height: 30px;
  margin-left: 17px;
  background: #F9F9F9 url('../../images/profile_icon.svg') no-repeat center;
  border: 0;
  border-radius: 4px;
}

@media screen and (max-width: 425px){
  .header{
    padding: 18px 14px;
  }
  .header__button{
    margin-left: 14px;
    padding: 5px 12px;
    font-size: 10px;
  }
  .header__link{
    font-weight: 500;
    font-size: 10px;
  }
  .header__menu-close{
    top: 13px;
    right: 13px;
  }
  .header__menu-items{
    margin-top: 144px;
  }
  .header__menu-item{
    margin-bottom: 24px;
  }
  .header__profile-link{
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 1024px){
  .header{
    padding: 18px 30px;
  }
  .header__navbar{
    display: none;
  }
}
@media screen and (max-width: 425px){
  .header{
    padding: 18px 14px;
  }
}
@media screen and (min-width: 1025px) {
  .header__menu-icon{
    display: none;
  }  
}