.about-me{
  padding: 110px 70px;
}
.about-me__profile{
  margin: 66px 0 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.about-me__text-info{
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.about-me__title{
  margin: 0 0 18px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}
.about-me__subtitle{
  margin: 0 0 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.about-me__text{
  margin: 0 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.about-me__link{
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-decoration: none;  
  transition: opacity 0.5s;
  cursor: pointer;
}
.about-me__link:hover{
  opacity: 0.65;
  transition: opacity 0.5s;
}
.about-me__photo{
  width: 270px;
  border-radius: 10px;
}
.about-me__portfolio-title{
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}
.about-me__portfolio-items{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.about-me__portfolio-item{
  border-bottom: 1px solid #E8E8E8;
}
.about-me__portfolio-link{
  display: block;  
  padding: 20px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  color: #000;
  text-decoration: none;
  background: url('../../images/link_icon.png') no-repeat right;
  transition: opacity 0.5s;
  cursor: pointer;
}
.about-me__portfolio-link:hover{
  opacity: 0.65;
  transition: opacity 0.5s;
}

@media screen and (max-width: 1024px){
  .about-me{
    padding: 90px 50px;
  }
  .about-me__profile{
    margin: 66px 0 91px;
  }
  .about-me__text-info{
    max-width: 364px;
  }
  .about-me__title{
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
  }
  .about-me__subtitle{
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__text{
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__photo{
    width: 255px;
  }
  .about-me__portfolio-link{
    font-size: 28px;
    line-height: 50px;
  }
}
@media screen and (max-width: 425px) {
  .about-me{
    padding: 70px 14px;
  }
  .about-me__profile{
    margin: 60px 0 70px;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .about-me__title{
    margin: 40px 0 20px;
    font-size: 30px;
    line-height: 36px;
  }
  .about-me__subtitle{
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__text{
    margin: 0 0 40px;
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__photo{
    width: 100%;
  }
  .about-me__portfolio-title{
    font-size: 14px;
    line-height: 20px;
  }
  .about-me__portfolio-link{
    font-size: 18px;
    line-height: 28px;
    background-size: 4%;
  }
}